<link
    href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c"
    rel="stylesheet"
/>

<style>
    .trmnl .label.label--small {
        font-family: 'M PLUS Rounded 1c';
        font-size: 15px;
    }
</style>

<div class="layout layout--col layout--center h--auto">
    <div class="flex flex--row flex--center-x flex--top">
        {% for day in calendar %}
        <div class="flex flex--col flex--center-x">
            <div class="item">
                <span class="label label--small label--inverted"
                    >{{ day.date }}</span
                >
            </div>
            {% for event in day.events %} {% if event.start %}
            <div class="item">
                <div class="meta"></div>
                <div class="content">
                    <span class="title title--small"
                        >{{ event.start }} - {{ event.end }}</span
                    >
                    <div class="flex gap--large">
                        <span class="label label--small label--underline"
                            >{{ event.summary }}</span
                        >
                    </div>
                </div>
            </div>
            {% else %}
            <div class="item">
                <span class="label label--small label--underline"
                    >{{ event.summary }}</span
                >
            </div>
            {% endif %} {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>

<div class="title_bar">
    <img
        class="image"
        src="/images/plugins/trmnl--render.svg"
    />
    <span class="title">{{ title }}</span>
    <span class="instance">{{ updated_at }}</span>
</div>
